body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  text-align: center;
  display: flex;
  padding: 1rem;
  /* margin-left: 70px; */
  gap: 50px;
  justify-content: space-around;
}
#for{
  width: 150px;
  border: none;
  color: rgb(73, 73, 193);
  background-color: rgb(210, 210, 246);
  font-weight: bold;
  border-radius: 8px;
}
.log{
  background-color: white;
  color: rgb(237,3,49);
  border: 1px solid rgb(237,3,49);
  border-radius: 5px;
  width: 75px;
  /* background-color: rgb(237,3,49);
  color: white;
  width: 100px;
  border: none;
  border-radius: 5px; */
}
.vw{
  background-color: white;
  color: rgb(237,3,49);
  border: 1px solid rgb(237,3,49);
  border-radius: 5px;
  width: 105px;
}
#appl{
  background-color: rgb(237,3,49);
  color: white;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;

}
.btn{
  margin-left: 45%;
  margin-top: 20px;
  background-color: rgb(237,3,49);
  color: white;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.tags{
  display: flex;
  margin-left: 20px;
  gap: 60px;
}
.dream{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;

}
.dream-one>img{
  z-index: 2;
  width: 220px;
  top: 48px;
  vertical-align: middle;
  margin-top: -60px;
}
.dream-one>h3{
  margin-top: -30px;
}
/* body component */
.pbody{
  margin-top: 40px;
}
.student{
  /* border: 1px solid green; */
}
.partner{
  text-align: center;
 
}
.partner>h2{
  color: rgb(82, 79, 79);
}
.company{
  margin-top: 40px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}
.company>img{
  height: 100px;
}
.enroll{
display: flex;
text-align: center;

}
.enrl1{
  background-color: rgb(67, 98, 210);
  color: white;
}
.enrl2{
display: flex;
}
.enrl4{
  background-color: blueviolet;
}
.skill{
  margin-top: 80px;
  text-align: center;
}
.pref{
  border-radius: 10px;
  margin-top: 80px;
  text-align: center;
  background-color: rgb(255,249,229);
  justify-content: center;
  padding: 1 rem;
}

.instr{
  margin-top: 60px;
  text-align: center;

}
.instr-one{
  display: flex;
  margin-top: 70px;
  margin-left: 90px;
  gap: 50px;
 flex-wrap: wrap;
}
.person{
width: 300px;
border-radius: 20px;
}
.instr-single{
  border-radius: 20px;
  box-shadow: rgba(22, 22, 22, 0.35) 0px 5px 5px;
}
.exComp{
  width: 100px;
}
.trust{
  margin-top: 80px;
  text-align: center;

}
.trust>h2{
  font-size: 40px;
}
.alum-one{
  display: flex;
  margin-top: 70px;
  margin-left: 70px;
  gap: 50px;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.alum-single{
 border-radius: 20px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.foot{
  margin-top: 80px;
  background-color: black;
  
}
.footbtn{
    margin-top: 50px;
    background-color: rgb(237,3,49);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.footd{
  display: flex;
  width: 400px;
  height: 150px;
  gap: 10px;
  margin-left: -60px;
}
.foottext{
  font-size: 1.5rem;
  font-weight: bolder;
}
.footpara {
  color: rgb(255, 219, 102);
  font-weight: bold;
  margin-top: -10px;
}
.fbtn {
  background-color: red;
  color: rgb(255, 255, 255);
  height: 70px;
  width: 150px;
  font-size: 0.9rem;
  border-radius: 10px;
  margin-top: 25px;
}

#res{
  color: rgb(183, 180, 180);
}
.dis{
 margin: 10px;
  color: white;
  display: flex;
  text-align: center;
  margin-left: 30%;
}
#logo{
  margin-top: 20px;
  border: 1px solid white;
}
.dis>button{
  width: 200px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(21, 101, 246);
  background-color: transparent;
  border: none;
}
.links{
  margin-top: 20px;
  display: flex;
  color: white;
  margin-left: 100px;
  gap: 20%;
  justify-content: space-around;
}

/* placement */

.enroll{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.enroll-first{
  margin-top: -30px;
}
.enroll-one{
  background-color: rgb(52,112,228);
  width: 600px;
  height: 300px;
  border-radius: 20px;
  color: rgb(225,225,225);
  justify-content: center;
}
.enroll-one > p {
  color: rgb(225,225,225);
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.subenroll-one{
  margin-top: 10px;

}
.subenroll-one > p > span > img {
  height: 50px;
  left: -30px;
}
.subenroll-one > p > span{
  color: rgb(255,219,102);
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}
.subenroll-one > p{
  font-size: 34px;
  font-weight: 700;
  line-height: 5px;
  
}
.placementRate{
  height: 16px;
  left: -10px;

}
.enroll-two{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.subenroll-two{
  background-color: rgb(111,189,205);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 250px;
}
.placementSvg{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  margin-top: 20px;
}
.placement-salary{
  font-size: 34px;
  font-weight: 600;
  margin-top: 16px;
  line-height: 40px;
  color: rgb(255,255,255);
}
.subenroll-two-two{
  background-color: rgb(111, 205, 158);
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 250px;
}
.placementSvghigh{
  width: 70px;
  height: 70px;
  margin-left: 80px;
  margin-top: 20px;
}
.placementSvghigh > svg {
  height: 70px;
}

.enroll-second{
  background-color: rgb(110,113,204);
  border-radius: 20px;
}

.secondDiv-one > img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.secondDiv-two > h2 {
  font-weight: bold;
  color: rgb(255,255,255);
  font-size: 34px;
}
.secondDiv-two > button {
  background-color: rgb(110,113,204);
  color: rgb(255,255,255);
  border: 1px solid white;
  font-size: large;
  border-radius: 10px;
  width: 150px;
  height: 50px;
}

/* prateek */
.program {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.program-one {
  width: 45%;
  border-radius: 15px;
}
.program-text {
  font-size: 2.1rem;
  font-weight: bolder;
  text-align: left;
  margin-left: 50px;
}
.program-para {
  text-align: left;
  margin-left: 50px;
}
.program-two {
  width: 45%;
  border-radius: 15px;
}
.program-video {
  height: 100%;
  border-radius: 15px;
}
.program-video > iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.program-btn {
  align-self: center;
  background-color: rgb(237,3,49);
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 70px;
  margin-bottom: 100px;
  font-family: sans-serif;
  margin-left: 45%;
}
